:root{
    --facebook:#3b5999;
    --twitter:#55acee;
    --gmail:#dd4b39;
    --linkedin:#0077b5;
    --instagram:#e4405f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    position: relative;
    display: flex;
}

ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background-color: #ccc;
}

ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size: 30px;
}

ul li:hover span:nth-child(5){
    transform: translate(40px,-40px);
    opacity: 1;
}

ul li:hover span:nth-child(4){
    transform: translate(30px,-30px);
    opacity: 0.8;
}

ul li:hover span:nth-child(3){
    transform: translate(20px,-20px);
    opacity: 0.6;
}

ul li:hover span:nth-child(2){
    transform: translate(10px,-10px);
    opacity: 0.4;
}

ul li:hover span:nth-child(1){
    transform: translate(0px,-0px);
    opacity: 0.2;
}

ul li:nth-child(1) span{
    background-color: var(--facebook);
}

ul li:nth-child(2) span{
    background-color: var(--twitter);
}

ul li:nth-child(3) span{
    background-color: var(--gmail);
}

ul li:nth-child(4) span{
    background-color: var(--linkedin);
}

ul li:nth-child(5) span{
    background-color: var(--instagram);
}